$textColor: white;

footer{
  background-color: #EEE;
}

.container{
  z-index: 2; /* Met le container au-dessus du flou */
  padding-top: 5rem;
  }

.p{
  margin-bottom: 0rem !important;
}

.bg-black {
    background-color: #000000; /* Définit la couleur de fond comme noire */
  }
  
 
  .text-white {
    color: white; /* Définit la couleur du texte comme blanc */
  }

  .customIcon{
    color:#000000;
  }
  
  .arrowIcon{
    color: #0d6efd;
  }

.customBullets {
    position: relative; 
    left:-1.5rem;
    list-style-type: none; // Supprime les puces par défaut
    font-weight: bold;
  }

    li {
      
      a {
        text-decoration: none; // Supprime la sous-ligne par défaut des liens
        color: inherit; // Met la couleur du texte par défaut
        padding-left: 0.2em; 

        &:hover {
          text-decoration: underline; // Ajoute la sous-ligne lors du survol des liens
        }
      }
    }
  

